<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[ElevatorSimulation*]*,[ElevatorApi*]*</Include>
          <ExcludeByFile>**/obj/**,**/*.razor</ExcludeByFile>
          <Exclude>[ElevatorUI*]*,[ElevatorServiceDefaults*]*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
